@import "./bootstrap.css";
@import "./all.css";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600;700&display=swap");

td {
  width: 500px !important;
  input {
    margin: 0 !important;
    width: 100% !important;
  }
}
