<!DOCTYPE html>
<html lang="en" ng-app="angularJsWeatherApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Json Reading App</title>
    <script src="./js/angular.min.js"></script>

    <script src="./js/bootstrap.bundle.js"></script>
    <script src="./js/all.js"></script>
    <script src="./angularJsWeatherApp.module.js"></script>

    <link rel="stylesheet" href="./css/style.css" />
    <script>
      document.write(`<base href="${document.location}" target="_blank">`);
    </script>
  </head>
  <body ng-controller="angularJsWeatherAppController as ctrl">
    <div class="container">
      <p>Enter City to search Weather</p>
      <div class="row">
        <div class="col-auto">
          <input
            type="text"
            name="city"
            id="city"
            placeholder="City"
            ng-model="ctrl.city"
          />
        </div>
        <div class="col-auto">
          <input type="button" ng-click="ctrl.search()" value="Search" />
        </div>
      </div>
      Ha Noi time {{ctrl.date| date:'dd/MM/yyyy HH:mm:ss'}}
      <div class="row" ng-show="ctrl.showWeather">
        <div class="col-auto">
          <img src="{{ctrl.imgAddress}}" alt="Weather Condition Image" />
        </div>
        <div class="col-auto">
          <p>Current: {{ctrl.curTemp | toC |number: 1}} &deg;C</p>
          <p>
            min: {{ctrl.minTemp| toC|number: 1}} &deg;C , max: {{ctrl.maxTemp |
            toC| number: 1}} &deg;C
          </p>
          <p>Wind: {{ctrl.wind}} km/h</p>
        </div>
      </div>
      <div ng-show="ctrl.showError">Something went wrong.</div>
    </div>
  </body>
</html>
