<!DOCTYPE html>
<html lang="en" ng-app="angularJSFilter">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Json Reading App</title>
    <script src="./js/angular.min.js"></script>

    <script src="./js/bootstrap.bundle.js"></script>
    <script src="./js/all.js"></script>
    <script src="./angularJSFilter.module.js"></script>

    <link rel="stylesheet" href="./css/style.css" />
    <script>
      document.write(`<base href="${document.location}" target="_blank">`);
    </script>
  </head>
  <body ng-controller="filterController as ctrl">
    <div class="container">
      <h1>CodeLean.vn</h1>
      <h3>filtering input text ng-repeat values according to ng-model</h3>
      <label for="seachBox" class="form-label"
        >type a programing language name in the input field</label
      >
      <input
        type="text"
        ng-model="ctrl.searchText"
        id="seachBox"
        placeholder="Search"
        class="form-control"
        aria-describedby="SearchHelp"
      />
      <span id="SearchHelp" class="form-text">
        Enter something to search.
      </span>
      <p>
        Filter the list of objects before turn their name to capitalization by
        using custom filter.
      </p>
      <ul>
        <li ng-repeat="language in ctrl.languages| filter:ctrl.searchText">
          {{language.name |toCap}}
        </li>
      </ul>
    </div>
  </body>
</html>
